# Normalizar saltos de línea
* text=auto
*.md text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.svg text eol=lf

# Archivos binarios
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
