# Base de Datos PostgreSQL (Cloud)
DB_HOST=tu-host-postgresql
DB_USER=tu-usuario
DB_PASSWORD=tu-contrasena
DB_NAME=nombre_base_datos
DB_PORT=5432

# Servidor
PORT=3000
API_PREFIX=/api/v1

# JWT
JWT_SECRET=tu-clave-secreta-muy-larga-y-segura-cambiar-en-produccion
JWT_EXPIRATION=24h

# Entorno
NODE_ENV=development
